.date-cell__table-cell {
    /*setting min size, so that cell wouldn't collapse,
     but instead would extend to cover whole fraction*/
    /*grid-row: 2;*/
    min-width: 80px;
    min-height: 35px;
    padding: 0;
    border-top: rgba(218,220,224, .4) 1px groove;
    border-left: rgba(218,220,224, .4) 1px groove;
}
