.drag-n-drop__drag-item {
  position: absolute;
  top: 0;
  width: 85%;
  margin: 1px 0;
  padding: 2px 0 2px 5px;
  text-overflow: ellipsis;
  /*equals 15 minutes on timetable*/
  /*min-height: calc(100% / 144);*/
  /*equals one hour on time table*/
  min-height: calc(100% / 144 * 5);
  max-height: 100%;
  outline: none;
  background-color: rgb(3, 155, 229);
  /*border-color: rgb(3, 155, 229);*/
  border-radius: 4px;
  font-size: 12px;
  color: white;
  z-index: 2;
  cursor: pointer;
  resize: vertical;
  overflow: hidden;
}
