.page {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr repeat(5, 4fr);
    grid-template-columns: 1fr 8fr;
    grid-template-areas:
                        "header header"
                        "calendar-mini calendar"
                        ". calendar"
                        ". calendar"
                        ". calendar"
                        ". calendar";
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
