.header__button_type_options {
  /*margin-left: 50px;*/
  /*margin-right: 16px;*/
  width: 78px;
  height: 36px;
  border-radius: 10%;
  border: 1px solid #dadce0;
  font-family: 'Open Sans', Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .25px;
  text-transform: none;
  opacity: 1;
  color: #3c4043;
}
