.weekdays-row__cell {
    min-width: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
}
